* {
	margin: opx;
	padding: 0px;
	box-sizing: border-box;
}
.lateral {
	width: 150px;
	height: 1044px;
	background-color: rgb(28, 28, 28);
}
.contenedor {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(57, 57, 57);
}
